// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

p {
  color: $gray-text;
  font-weight: 300;
  font-size: 1.2em;
}

h1 {
  color: $dark-blue;
  font-size: 2.4em;
}

h2 {
  color: $dark-blue;
  font-size: 2.1em;
  font-weight: 700;
}

hr {
  background-color: $red;
  height: 1px;
  border: 0;
  width: 50%;

}

.hr-blue {
  background-color: $blue;
  height: 1px;
  border: 0;
  width: 25%;
}

.hr-grey {
  background-color: $light-gray;
  height: 1px;
  border: 0;
  width: 10%;
}