// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

p:not(.detail-blue) {
  text-align: justify;
}

p {
  color: $gray-text;
  font-weight: 300;
  font-size: 1.2em;

}

a { color: inherit; } 
a:hover, a:focus {
    color: $blue;
    text-decoration: none;
}

h1 {
  color: $dark-blue;
  font-size: 2.4em;
}

h2 {
  color: $dark-blue;
  font-size: 2.1em;
  font-weight: 700;
}

.details {
  color: $light-gray;

}

.text-footer {
  height: 80%;
}

.footer-details {
  font-size: 1em;
  color: $dark-blue;
  padding: 5px 8px;
}