/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

/*couleurs*/
 .detail-blue {
   color: $blue;
 }
 .detail-grey {
   color: $light-gray;
 }

.fa-heart {
  color: $red;
}

/*Separateur*/

hr {
  background-color: $red;
  height: 1px;
  border: 0;
  width: 50%;

}

.hr-blue {
  background-color: $blue;
  height: 1px;
  border: 0;
  width: 25%;
}


.hr-grey {
  background-color: $light-gray;
  height: 1px;
  border: 0;
  width: 10%;
}

.hr-grey-text {
  background-color: $gray-text;
  height: 1px;
  border: 0;
  width: 20%;
}

/*Taille*/

.slimmer {
  width: 80%;
  margin: 0 auto;
}

.slimmer-plus {
  width: 60%;
  margin: 0 auto;
}

.title {
  color:$red;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/*Espace*/

.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}

.padded-sm {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-lr {
  padding-left: 2em;
  padding-right: 2em;
}


.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
