#landing {
  background: image-url('street-art-site-b.jpg');
  min-height: 100vh;
  background-size: cover;
  position:relative;
  color: white;
}

.name-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  height: 20vh;
  padding-top: 2em;
}


.slogan {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  height: 60vh;
}

.navigation {
  height: 10vh;
}


#philo {
  min-height: 100vh;
}

.big-sentence {
  font-weight: 700;
  font-size: 1.2em;
}


.testimony-text {
  color: $dark-blue;
}
.detail-blue {
  color: $blue;
}
.detail-grey {
  color: $light-gray;
}