#landing {
  min-height: 100vh;
  background-size: cover;
  position:relative;
}

.name-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  height: 20vh;
  padding-top: 2em;
}


.slogan {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  height: 60vh;
}

.navigation {
  height: 10vh;
}


#philo {
  min-height: 100vh;
}