<div id="footer" class="container-fluid">
    <div class="row slimmer padded-sm">
      <div class="col-xs-12 text-center">
        <h1>Rencontrons-nous!</h1>
        <p class="footer-details text-center">Freelance, je suis basé à Lyon et travaille également à distance. Contactez-moi pour parler tranquillement de votre projet autour d'un café ou au 06 49 83 21 10.</p>
        <div class="social padded-xs">
          <span class="padded-lr"><%= mail_to 'mathieu1chiron@gmail.com', '<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>'%></span>
          <span class="padded-lr"><%= link_to "", 'https://github.com/s123567',:target=>'_blank', class: "fa fa-github fa-2x" %></span>
          <span class="padded-lr"><%= link_to "", 'https://www.linkedin.com/in/mathieu-chiron-3892869a',:target=>'_blank', class: "fa fa-linkedin-square fa-2x" %>  </span>
        </div>
        
      </div>
          
    </div>

</div>
      
