<div class="name-contact">
  <div class="name">
    Mathieu Chiron
  </div>
  <div class="metier">
    <h3 class="profession">Développeur Front-end & Ruby On Rails</h3>
  </div>  
  
</div>
<div class="slogan padded-lr">
    <h1 class="landing-text">Je suis un développeur Ruby on Rails basé à Lyon. Mes clients sont des gens heureux.</h1>  
</div>