<div class="name-contact">
  <div class="name">
    Mathieu Chiron
  </div>
  <div class="metier">
    <h3 class="profession">Développeur Ruby On Rails & Front-end </h3>
  </div>  
  
</div>
<div class="slogan padded-lr">
    <h1 class="landing-text text-center">Je suis un développeur d'applications Web basé à Lyon. Mes clients sont des gens heureux.</h1>  
</div>