<div class="name-contact padded-lr">
  <div class="name">
    Mathieu <b>Chiron</b>
  </div>
  <div class="contact pulse">
      <span><%= mail_to 'mathieu1chiron@gmail.com', '<i class="fa fa-paper-plane" aria-hidden="true"></i> Contact'%></span>

  </div>
</div>
<div class="slogan padded-lr">
  <h1 class="landing-text">Sites web épurés & communication efficace</h1>
  <h1 class="landing-text">Applications robustes & clients heureux</h1>
  <div class="metier">
    <h3 class="profession detail-blue">Développeur Front-end & Ruby On Rails</h3>
  </div>  
</div>