<div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-up" class="big-sentence">
        <h2>Design & code</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div data-aos="fade-up" class="explications">
        <p>Je sais concevoir l’interface d’un site ou d’une application et créer ensuite ses mécanismes.</p>
          <p>Cela permet d’assurer une compréhension totale de votre projet et donc une réalisation cohérente, pour mettre en valeur votre propostion commerciale ou vos créations. </p>
      </div>
    </div>
  </div>

  <div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-up" class="big-sentence">
        <h2>Chacun de vos projets sera</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div data-aos="fade-up" class="explications">
        <p>Optimisé avec <b>les meilleures pratiques SEO</b>, afin de vous permettre d'être facilement retrouvé et surtout découvert sur les moteurs de recherche et les réseaux sociaux</p>
        <p><b>Responsive et optimisé mobile</b> pour offrir la meilleure expérience à vos utilisateurs et internautes</p>
        <p><b>Personnalisé suivant vos objectifs</b>, votre problématique et votre caractère. Vous serez mis en avant et rendrez heureux les visiteurs de votre site</p>
        <p>Fait à la main et avec <i class="fa fa-heart pulse" aria-hidden="true"></i>
</p>
      </div>
    </div>
  </div>

    

  <div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-up" class="big-sentence">
        <h2>Travaillons ensemble</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div data-aos="fade-up" class="explications">
        <p>Pour qu’un projet soit réussi, un travail d’équipe est nécessaire.</p>
<p>Vos idées seront bien sûr écoutées et respectées, et si nécessaire challengées et améliorées. </p>
<p>Si c'est votre première collaboration avec un développeur, je saurai vous guider et vous écouter, pour répondre au mieux à vos objectifs et trouver les solutions à vos problématiques.</p>
      </div>
    </div>
  </div>