<h1 class="title text-center">Témoignages</h1>
  <div class="row slimmer padded-sm">
    
    <div class="col-xs-12 col-sm-6 text-center" >
      <div data-aos="fade-right" data-sr>
        <p class="testimony-text">
        <b>Umami pitchfork hammock forage farm-to-table poutine yuccie. Meggings selvage gluten-free, chia single-origin coffee copper mug pabst helvetica. Pop-up irony occupy 8-bit, cray sustainable readymade cronut raw denim air plant salvia flannel. Twee skateboard chia, pop-up you probably haven't heard of them tumeric iceland small batch u</b>
      </p>
    </div>
      <div class="witness">
        <h3> Simon Shfgdhfg</h3>
        <p class="detail-gray">Gérant</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center" >
      <div data-aos="fade-left" class="testimony-text">
        <p class="testimony-text">
          "Je cherchais un moyen d’étendre la notoriété du Salon et de dynamiser l’activité et la création de nos adhérents. J’ai trouvé avec Mathieu Chiron un partenaire profondément impliqué dans cette dynamique. Il a réussi à concrétiser nos idées et à exposer de manière très claire l’esprit qui anime l’association en mettant en valeur chacun de nos adhérents. Notre collaboration permet un enrichissement mutuel grâce au professionnalisme de Mathieu. Merci en tout amitié."
      </p>
    </div>
      <div class="witness">
        <h3>Jean-François NIGON</h3>
        <p class="detail-gray">Président du Salon de l’Ouest Lyonnais</p>
      </div>
    </div>  
  </div>