<h1 class="title text-center">Témoignages</h1>
  <div class="row slimmer padded-sm">
    
    <div class="col-xs-12 col-sm-6 text-center" >
      <div data-aos="fade-right" data-sr>
        <p class="testimony-text">
          "J'ai fait appel à Mathieu pour la réalisation de mon site internet de coaching et de préparation physique afin d'avoir une véritable identité visuelle de ma société.
          <br>
          Il s'est montré très présent et réactif à chacune de mes demandes que se soit au niveau des couleurs, du design ou de la configuration de la page d'accueil. Il a également su adapter mon site aux différents supports que sont l'ordinateur, la tablette ou le smartphone.
          <br>
          Le travail réalisé est soigné, professionnel et pertinent.
          Je vous le recommande à tous, encore merci pour votre professionnalisme."
      </p>
    </div>
      <div class="witness">
        <h3> Simon Fiorucci</h3>
        <p class="detail-gray">Gérant de la société de coaching CORPS.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center" >
      <div data-aos="fade-left" class="testimony-text">
        <p class="testimony-text">
          "Je cherchais un moyen d’étendre la notoriété du Salon et de dynamiser l’activité et la création de nos adhérents. J’ai trouvé avec Mathieu un partenaire profondément impliqué dans cette dynamique.
          <br>Il a réussi à concrétiser nos idées et à exposer de manière très claire l’esprit qui anime l’association en mettant en valeur chacun de nos adhérents. Notre collaboration permet un enrichissement mutuel grâce à son professionnalisme. Merci en tout amitié."
      </p>
    </div>
      <div class="witness">
        <h3>Jean-François Nigon</h3>
        <p class="detail-gray">Président du Salon de l’Ouest Lyonnais</p>
      </div>
    </div>  
  </div>