---
title: Mathieu Chiron | Ruby On Rails and Front Developper
---

<div id="landing" class="container-fluid">
    <div class="name-contact padded-lr">
      <div class="name">
        Mathieu <b>Chiron</b>
      </div>
      <div class="contact">
        <span><i class="fa fa-phone" aria-hidden="true"></i> +33 (0)6 49 83 21 10</span>
          <span><i class="fa fa-paper-plane" aria-hidden="true"></i> Contact</span>
      </div>
    </div>
    <div class="slogan padded-lr">
      <h1 class="landing-text">Sites web épurés & communication efficace</h1>
      <h1 class="landing-text">Applications robustes & clients heureux</h1>
      <div class="metier">
        <h3 class="profession detail-blue">Développeur Front-end & Ruby On Rails</h3>
      </div>  
    </div>
    
</div><!-- .welcome -->

<!-- /////////PHILOSOPHIE ///////// -->
<div id="philo" class="container-fluid slimmer scroll-to">
<!--   <div class="first-idea">
      <div class="big-sentence padded-sm">
        <h2>Design et code</h2>
      </div>
      <div class="explications">
        <p>Je sais aussi bien designer l’interface d’un site ou d’une application que concevoir ses mécanismes. Cela permet d’assurer une compréhension totale de votre projet et donc une réalisation cohérente.</p>
      </div>
  </div> --> <!-- first idea -->
  
  <div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-up" class="big-sentence">
        <h2>Design et code</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div data-aos="fade-up" class="explications">
        <p>Je sais aussi bien designer l’interface d’un site ou d’une application que concevoir ses mécanismes. Cela permet d’assurer une compréhension totale de votre projet et donc une réalisation cohérente.</p>
      </div>
    </div>
  </div>

  <div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-up" class="big-sentence">
        <h2>Chacun de vos projets sera</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div data-aos="fade-up" class="explications">
        <p>Optimisé avec <b>les meilleures pratiques SEO</b>, afin de vous permettre d'être facilement retrouvé et surtout découvert sur les moteurs de recherche et les réseaux sociaux</p>
        <p><b>Responsive et optimisé mobile</b> pour offrir la meilleure expérience à vos utilisateurs et internautes</p>
        <p>Fait à la main et avec <i class="fa fa-heart pulse" aria-hidden="true"></i>
</p>
      </div>
    </div>
  </div>

    <div class="row padded-sm">
      <div class="col-xs-12 col-sm-4">
        <div data-aos="fade-up" class="big-sentence">
          <h2>Visible & Découvert</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div data-aos="fade-up" class="explications">
          <p>La chose la plus importante pour une start-up, un artiste ou un artisan est d'être facilement retrouvé et surtout découvert, sur le le net</p>
          <p>Pour cela je mets en place toutes les bonnes pratiques SEO pour augmenter vos visteurs ou clients</p>
        </div>
      </div>
    </div>

  <div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-up" class="big-sentence">
        <h2>Travaillons ensemble</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div data-aos="fade-up" class="explications">
        <p>Pour qu’un projet soit réussi, un travail d’équipe est nécessaire.</p>
<p>Vos idées seront bien sûr écoutées et respectées, et si nécessaire challengées et améliorées. </p>
<p>Si c'est votre première collaboration avec un développeur, je saurai vous guider et vous écouter, pour répondre au mieux à vos objectifs et trouver les solutions à vos problématiques.</p>
      </div>
    </div>
  </div>
</div>
<!-- /////////TEMOIGNAGES ///////// -->
<div id="testimony" class="container-fluid">
  <h1 class="title text-center">Témoignages</h1>
  <div class="row slimmer padded-sm">
    
    <div class="col-xs-12 col-sm-6 text-center" >
      <div data-aos="fade-right" data-sr>
        <p class="testimony-text">
        <b>Umami pitchfork hammock forage farm-to-table poutine yuccie. Meggings selvage gluten-free, chia single-origin coffee copper mug pabst helvetica. Pop-up irony occupy 8-bit, cray sustainable readymade cronut raw denim air plant salvia flannel. Twee skateboard chia, pop-up you probably haven't heard of them tumeric iceland small batch u</b>
      </p>
    </div>
      <div class="witness">
        <h3> Simon Shfgdhfg</h3>
        <p class="detail-blue">Gérant</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center" >
      <div data-aos="fade-left" class="testimony-text">
        <p class="testimony-text">
        <b>rg umami. Everyday carry next level salvia, williamsburg semiotics heirloom umami literally tattooed wolf letterpress banh mi. Woke vinyl fanny pack, brooklyn asymmetrical pug actually cliche ramps tattooed pork belly.
          </b>
      </p>
    </div>
      <div class="witness">
        <h3> Bob Dark Vador</h3>
        <p class="detail-blue">Président de l'association</p>
      </div>
    </div>  
    
  </div>
</div>

<!-- /////////PORTFOLIO ///////// -->
<div id="portfolio" class="container-fluid slimmer-plus">
  <h1 class="title text-center element">Portfolio</h1>
  
  <div class="">
    <% data.portfolio.each do |article| %>
      <h2><%= article.name %></h2>
      <p class="detail-blue"><%= article.occupation %></p>
      <p><%= article.description %></p>
      <hr class="hr-blue">
    <% end %>  
  </div>
  
</div>

<div id="perso" class="container-fluid slimmer">
  <h1 class="title text-center">Petite bio</h1>
      <p>Je n’ai pas toujours été developpeur, mais j’ai toujours aimé construire et créer, que ce soit avec des legos, un crayon ou une guitare... Coder est une activité qui me rend heureux: les choses sorties de mon imagination prennent forme devant mes yeux, à chaque frappe de clavier. Je ne suis pas (encore) sur une scène de concert, mais des milliers de personnes peuvent quand même admirer mes créations…</p>
      <hr class="hr-grey">
      <p>Auparavant j‘ai été  (entres autres) commercial, et chargé de communication digitale, mais c’est à Paris, en 2013 que j'ai commencé à changer de cap. Je vendais sur mon propre site internet des avantages clients négociés auprès de bars parisiens. J’ai donc commencé à coder, pour pouvoir personnaliser ma plateforme et surtout réaliser des ventes en lignes. Depuis l’été 2016, je suis à plein temps au dessus de mon clavier!</p>
      <hr class="hr-grey">
      <p>Pour les connaisseurs, curieux, CTO et pour quelques points de référencement en plus, je travaille entre autres avec <em>Ruby on Rails, Middleman, jquery, Html, CSS, Sass et Bootstrap</em>.Toutes mes créations sont entièrement responsives, optimisées mobiles et prennent en compte tous les critères SEO fondamentaux pour assurer un référencement optimal.</p>
</div>
<footer>
  <div id="footer" class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-4">
        <div class="contact-details">
          <span><i class="fa fa-phone" aria-hidden="true"></i> 06 49 83 21 10</span>
          <span><i class="fa fa-paper-plane" aria-hidden="true"></i> Contact</span>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="social-icons">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-4">
        <p>dhfg dfhdgfhdgfh dfhdghfgdhf d</p>
        <p>fhdfghdgfd fdghfdghfdghfgdfhdf</p>
        <p>gfhdgfhdgfhdghfdghf dfgdhfgd</p>
      </div>
    </div>
    
    
  </div>
</footer>
