---
title: Mathieu Chiron | Ruby On Rails and Front Developper
---

<div id="landing" class="container-fluid">
    <div class="name-contact padded-lr">
      <div class="name">
        Mathieu Chiron
      </div>
      <div class="contact">
        <span>06 06 06 06 06</span><span>contact</span>
      </div>
    </div>
    <div class="slogan padded-lr">
      <h1>bbhdfhdbf dhgfhd dfgdfdhfgf</h1>
      <h1>lmlm ioio trtrt gfgfg</h1>
    </div>
    <div class="navigation"></div>  
</div><!-- .welcome -->

<!-- /////////PHILOSOPHIE ///////// -->
<div id="philo" class="slimmer scroll-to">
  <div class="first-idea">
      <div class="big-sentence padded-sm">
        <h2>Bla ghg hsghdgf dhfgdhfg dhfgdhfg</h2>
      </div>
      <div class="explications">
        <p>djfgdyfdg fdgf dfgd fhdfgdhfgdhghghf dhghghdgfhdgf hdgf. fhjdhfjd oioio dhfjdhf jhfdfdfhdg fgfhdgfhdg fhdgfhdgpeopzoepzoep. dfdgfdgfhd ffeeytryetr. fdgfhdgfhdgf</p>
      </div>
  </div> <!-- first idea -->
  <div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div class="big-sentence">
        <h2>Bla ghg hsghdgf dhfgdhfg dhfgdhfg</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="explications">
        <p>djfgdyfdg fdgf dfgd fhdfgdhfgdhghghf dhghghdgfhdgf hdgf. fhjdhfjd oioio</p><p> dhfjdhf jhfdfdfhdg fgfhdgfhdg fhdgfhdgpeopzoepzoep. dfdgfdgfhd ffeeytryetr. fdgfhdgfhdgf oppo fyztertze dfudgfydf dkjhkghkgjh tststdrsd hghfghfghfjg.</p>
        <p> dhfjdhf jhfdfdfhdg fgfhdgfhdg fhdgfhdgpeopzoepzoep. dfdgfdgfhd ffeeytryetr. fdgfhdgfhdgf</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="row padded-sm">
    <div class="col-xs-12 col-sm-4">
      <div class="big-sentence">
        <h2>Bla ghg hsghdgf dhfgdhfg dhfgdhfg</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="explications">
        <p>djfgdyfdg fdgf dfgd fhdfgdhfgdhghghf dhghghdgfhdgf hdgf. fhjdhfjd oioio dhfjdhf jhfdfdfhdg fgfhdgfhdg fhdgfhdgpeopzoepzoep. dfdgfdgfhd ffeeytryetr. fdgfhdgfhdgf</p>
      </div>
    </div>
  </div>
  
</div>

<!-- /////////TEMOIGNAGES ///////// -->
<div id="testimony">
  
  <div class="row slimmer padded-sm">
    <h1>Témoignages</h1>

<!--     <div class="slimmer-plus">
        <div class="big-sentence padded-sm">
          <h2>Bla ghg hsghdgf dhfgdhfg dhfgdhfg</h2>
        </div>
        <div class="explications">
          <p>djfgdyfdg fdgf dfgd fhdfgdhfgdhghghf dhghghdgfhdgf hdgf. fhjdhfjd oioio dhfjdhf jhfdfdfhdg fgfhdgfhdg fhdgfhdgpeopzoepzoep. dfdgfdgfhd ffeeytryetr. fdgfhdgfhdgf</p>
        </div>
    </div> <!-- first idea --> 
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="testimony-text"><p>
        Umami pitchfork hammock forage farm-to-table poutine yuccie. Meggings selvage gluten-free, chia single-origin coffee copper mug pabst helvetica. Pop-up irony occupy 8-bit, cray sustainable readymade cronut raw denim air plant salvia flannel. Twee skateboard chia, pop-up you probably haven't heard of them tumeric iceland small batch u
      </p>
    </div>
      <div class="witness">
        <h3> Simon Shfgdhfg</h3>
        <p>Gérant</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="testimony-text"><p>
        rg umami. Everyday carry next level salvia, williamsburg semiotics heirloom umami literally tattooed wolf letterpress banh mi. Woke vinyl fanny pack, brooklyn asymmetrical pug actually cliche ramps tattooed pork belly.
      </p>
    </div>
      <div class="witness">
        <h3> Bob Dark Vador</h3>
        <p>Dirigeant de </p>
      </div>
    </div>
  </div>
</div>
