---
title: Mathieu Chiron: Ruby On Rails & Front Developper
---

<div id="landing" class="">
  <div class="name-contact">
    <div class="name">
      M C
    </div>
    <div class="contact">
      06 06 06 06 06
    </div>
  </div>
  <div class="slogan"></div>
  <div class="navigation"></div>
</div><!-- .welcome -->
